@media (min-width: 900px) {
    body {
        width: 900px;
        margin: auto;
        text-align: center;
    }

    h1 {
        font-size: 3em;
    }

    form {
        margin: auto;
        width: 900px;
    }

    form div {
        width: 260px;
        float: left;
        margin: 20px;
    }

    div.result {
        clear: both;
    }
}

input {
    width: 150px;
}

p.payment {
    font-size: 2em;
    font-weight: bold;
}

p.error {
    display: none;
}

div.invalid input {
    border: 1px solid red;
}

div.invalid p.error {
    display: inline;
    color: red;
}
